<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <style>
        #thumbnails {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        
        .thumbnail {
            margin: 0 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>My Website</h1>
    </header>
    <main>
        <div id="thumbnails">
            <div class="thumbnail">
                <a href="https://www.youtube.com/watch?v=r7x2Z3RJWGY">
                    <img src="https://i.ytimg.com/an_webp/r7x2Z3RJWGY/mqdefault_6s.webp?du=3000&sqp=COzOhKMG&rs=AOn4CLB_ms0JGlXE60G22LxFJxJXRLhGJA" alt="Page 1">
                </a>
            </div>
            <div class="thumbnail">
                <a href="https://www.youtube.com/watch?v=4G6QBwBQ8rw">
                    <img src="https://i.ytimg.com/an_webp/4G6QBwBQ8rw/mqdefault_6s.webp?du=3000&sqp=CLjPhKMG&rs=AOn4CLDJiDmmbNeBrXbnwtbRmHaJjSFcxA" alt="Page 2">
                </a>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 My Website. All rights reserved.</p>
        <p>About Us</p>
    </footer>
</body>
</html>
